.learning-options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  
  .learning-option-button {
    padding: 0.5rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid rgb(128, 60, 0);
    margin: 3px;
    color: white;
  }
  