.ellipsis {
  text-overflow: ellipsis ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.short {
  width: 400px;
}
.containerFav {
  max-height: 11%;
}
.botonFav {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex: auto;
}
.botonFav button {
  border: none;
  background-color: white;
}
.botonFav button:focus {
  background-color: wheat;
}

.title {
  font-size: 12px;
  font-family: "Fugaz One";
  font-style: normal;
  font-weight: 400;
  font-size: 16.5258px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16.5258px;
  /* line-height: 100%; */
  color: black;
}

.container {
  background:#8b5c61;
  height: 100px;
  width: 430;
}

.cardImg {
  max-width: 150%;
  max-height: 90%;
}
.containerImg {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: none;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: baseline;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.allContainer{
  height: 341px;
}

