.container {
  border-radius: 8px;
  width: auto;
  padding: 1rem;
  text-align: center;
  background: #f87d2d;
  max-width: 80%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 573px;
  height: 152px;
  margin-top: 10px;
}


.buttonsContainer button {
  justify-content: flex-end;
  border-radius: 8px;
  transition: 0.45s;
  background: transparent;
  border-style: solid;
}
.buttonsContainer {
  display: flex;
  gap: 0.5rem;
}
.buttonsContainer button:hover {
  opacity: 0.75;
  transform: scale(102%);
}
.info {
  display: flex;
  flex-direction: column;
}
.info h5{
  color: black;
}

.imgCart{
  width: 50%;
}


