.filtersContainer{
    display: flex;
    margin-top: 10px;
    margin-left:10px;
    justify-content: center;
}

.brandSelect{
    margin-right: 10px;
    border-radius: 10px;
    background-color: #8b5c61;
    border: none;
    width: 143px;
    height: 36px;
    margin-bottom: 10px;
}

.priceFilter{
    border: none;
    border-bottom-style: solid;
    margin-right: 10px;
    outline: 0px;
    width: 100px;
    background: #212121;
    color: #fff;
    height: 36px;
}

.priceButton{
    border-radius: 50%;
    border: none;
    background-color: #8b5c61;
}

::placeholder{
    color: #fff
}